In [16]:
import pandas as pd
import numpy as np
import os
import math

In [17]:
#read dataset
df = pd.read_csv("CollegeBasketballPlayers2009-2021.csv")
df.head()

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,NaN,6.22026
1,Pooh Williams,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,NaN,3.94375
2,Jesus Verdejo,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,NaN,10.92680
3,Mike Hornbuckle,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,...,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,NaN,6.77427
4,Anthony Brown,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,...,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,NaN,0.00000

In [18]:
min_minutes_played = 30

In [19]:
#remove all records where player played less than 5 minutes
df = pd.DataFrame(df[df['mp'] > min_minutes_played])
df.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
2,Jesus Verdejo,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,NaN,10.92680
6,Dana Smith,Longwood,ind,27,77.8,104.8,23.0,53.4,56.30,6.8,...,-0.908391,2.1481,3.8889,6.0370,1.8148,1.7778,0.7407,15.2593,NaN,3.22107
8,Justin Drummond,Wagner,NEC,30,82.8,99.7,20.5,48.8,53.07,2.9,...,0.919272,0.8000,3.9333,4.7333,4.1333,1.7333,0.8000,10.5000,NaN,3.42016
9,Jamal Smith,Wagner,NEC,30,80.4,92.5,23.0,43.5,45.29,6.4,...,-1.913070,1.7333,3.4667,5.2000,1.7333,1.2333,0.1000,11.8667,NaN,3.34007
13,Gary Wilkinson,Utah St.,WAC,34,79.9,124.8,24.0,57.9,63.97,7.2,...,-0.233409,1.6765,4.9706,6.6471,1.2353,0.4706,0.3824,16.8824,NaN,1.11986

In [21]:
print(df.columns)
print(df['Unnamed: 64'])

Index(['player_name', 'team', 'conf', 'GP', 'Min_per', 'Ortg', 'usg', 'eFG',
       'TS_per', 'ORB_per', 'DRB_per', 'AST_per', 'TO_per', 'FTM', 'FTA',
       'FT_per', 'twoPM', 'twoPA', 'twoP_per', 'TPM', 'TPA', 'TP_per',
       'blk_per', 'stl_per', 'ftr', 'yr', 'ht', 'num', 'porpag', 'adjoe',
       'pfr', 'year', 'pid', 'type', 'Rec Rank', 'ast/tov', 'rimmade',
       'rimmade+rimmiss', 'midmade', 'midmade+midmiss',
       'rimmade/(rimmade+rimmiss)', 'midmade/(midmade+midmiss)', 'dunksmade',
       'dunksmiss+dunksmade', 'dunksmade/(dunksmade+dunksmiss)', 'pick',
       'drtg', 'adrtg', 'dporpag', 'stops', 'bpm', 'obpm', 'dbpm', 'gbpm',
       'mp', 'ogbpm', 'dgbpm', 'oreb', 'dreb', 'treb', 'ast', 'stl', 'blk',
       'pts', 'Unnamed: 64', 'Unnamed: 65'],
      dtype='object')
2            NaN
6            NaN
8            NaN
9            NaN
13           NaN
          ...
60954    Combo G
60973    Combo G
60977     Wing G
60995     Wing G
60998    Combo G
Name: Unnamed: 64, Length: 8759, dtype: object

In [22]:
positions = df['Unnamed: 64']

In [23]:
positions.unique()

array([nan, 'Wing F', 'Combo G', 'Scoring PG', 'Wing G', 'Pure PG',
       'PF/C', 'Stretch 4', 'C'], dtype=object)

In [24]:
#rename position column

df = df.rename({'Unnamed: 64': 'position'}, axis=1)

In [25]:
df['position'].unique()

array([nan, 'Wing F', 'Combo G', 'Scoring PG', 'Wing G', 'Pure PG',
       'PF/C', 'Stretch 4', 'C'], dtype=object)

In [26]:
#get all unique positions, remove null position
positions = []
for x in df['position'].unique():
    positions.append(x)
positions = positions[1:]
positions

['Wing F',
 'Combo G',
 'Scoring PG',
 'Wing G',
 'Pure PG',
 'PF/C',
 'Stretch 4',
 'C']

In [10]:
os.listdir('/Users/arnavakula/Code/repos/ScoutingSystem/split_by_position')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/arnavakula/Code/repos/ScoutingSystem/split_by_position'

In [11]:
#create new dataset of all nba players for each position
all_players = pd.read_csv('split_by_position/wing-g.csv')
nba_players = pd.DataFrame()
for i in range(all_players.shape[0]):
    if not np.isnan(all_players.iloc[i].pick):
        nba_players = nba_players.append(all_players.iloc[i], ignore_index=True)

In [12]:
#write them to a .csv file
nba_players.to_csv('nba-wing-g.csv')