In [1]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv("CollegeBasketballPlayers2009-2021.csv")
df.head()

/var/folders/lx/xmxjp545213gbm359rj714p80000gn/T/ipykernel_10335/3489409256.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("CollegeBasketballPlayers2009-2021.csv")

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,NaN,6.22026
1,Pooh Williams,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,NaN,3.94375
2,Jesus Verdejo,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,NaN,10.92680
3,Mike Hornbuckle,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,...,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,NaN,6.77427
4,Anthony Brown,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,...,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,NaN,0.00000

In [9]:
min_minutes_played = 5

In [42]:
df = pd.DataFrame(df[df['Min_per'] > min_minutes_played])
df.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,NaN,6.22026
1,Pooh Williams,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,NaN,3.94375
2,Jesus Verdejo,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,NaN,10.92680
3,Mike Hornbuckle,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,...,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,NaN,6.77427
4,Anthony Brown,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,...,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,NaN,0.00000

In [43]:
positions = df['Unnamed: 64']

In [44]:
positions.unique()

array([nan, 'Combo G', 'Wing F', 'Wing G', 'C', 'Stretch 4', 'Scoring PG',
       'PF/C', 'Pure PG'], dtype=object)

In [45]:
df = df.rename({'Unnamed: 64': 'position'}, axis=1)

In [46]:
df['position'].unique()

array([nan, 'Combo G', 'Wing F', 'Wing G', 'C', 'Stretch 4', 'Scoring PG',
       'PF/C', 'Pure PG'], dtype=object)

In [47]:
positions = []
for x in df['position'].unique():
    positions.append(x)
positions = positions[1:]
positions

['Combo G',
 'Wing F',
 'Wing G',
 'C',
 'Stretch 4',
 'Scoring PG',
 'PF/C',
 'Pure PG']

In [60]:
df[df['position'] == 'Combo G'].to_csv('combo-g.csv')
df[df['position'] == 'Wing F'].to_csv('wing-f.csv')

In [72]:
df[df['position'] == 'Stretch 4'].to_csv('split_by_position/stretch-4.csv')

In [31]:
for i in range(0, len(positions)):
    pos = positions[i]
    pos = pos.lower()
    pos = '-'.join(pos.split())
    positions[i] = pos